{% extends 'tracker/base.html' %}

{% block body %}
    <nav aria-label="breadcrumb" class="my-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Items</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-6"></div>
        <div class="my-3 col-md-6">
            <a class="btn btn-success float-right" href="{% url 'tracker-item-new' %}">
                <i class="fas fa-plus"></i>
                Add New
            </a>
        </div>
    </div>

    {% for item in items %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ item.img.url }}" class="card-img" alt="Item Image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'tracker-item-detail' item.id %}">
                            {{ item.name }}
                        </a>
                    </h5>
                    <p class="card-text">
                        {% if item.description|length|get_digit:"-1" <= 20 %}
                            {{ item.description }}
                        {% else %}
                            {{ item.description | slice:20 }} ...
                        {% endif %}
                    </p>
                    <p class="card-text"><small class="text-muted">Rate: Rs. {{ item.price | floatformat:'2' }}</small></p>
                    
                    <a href="{% url 'tracker-item-update' item.id %}">
                        <i class="fas fa-edit"></i>
                    </a>
                    |
                    <a href="{% url 'tracker-item-delete' item.id %}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
              </div>
            </div>
          </div>
    {% endfor %}
{% endblock %}