{% extends 'tracker/base.html' %}

{% block body %}
    <nav aria-label="breadcrumb" class="my-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tracker-items' %}">Items</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ item.name.title }}</li>
        </ol>
    </nav>

    <div class="card my-3" style="max-width: 540px;">
        <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ item.img.url }}" class="card-img" alt="Item Image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    {{ item.name }}
                </h5>
                <p class="card-text">{{ item.description }}</p>
                <p class="card-text"><small class="text-muted">Rate: Rs. {{ item.price | floatformat:'2' }}</small></p>
                
                <a href="{% url 'tracker-item-update' item.id %}">
                    <i class="fas fa-edit"></i>
                </a>
                |
                <a href="{% url 'tracker-item-delete' item.id %}">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
        </div>
    </div>
{% endblock %}